<br></br>
<div><i id="collegeconstext">College consulting by students who've been through the process!</i></div>
<script type="text/javascript">
	$(function() {
    
    $('#slideshow').cycle({ 
        fx: 'fade',
        speed: 500,
        timeout: 2000
    });
    
});
</script>

<div id="slideshow">
	<div><img src="/assets/bayview.jpg" alt="bayview fails" style="width:500px;"></div>
	<div><img src="/assets/sather gate people.jpg" alt="sather gate fails" style="width:400px;"></div>
	<div><img src="/assets/lady in front of manor.jpg" alt="lady manor fails" style="width:400px;"></div>
	<div><img src="/assets/stanford statues.jpg" alt="stanford statues fails" style="width:400px;"></div>
	<div><img src="/assets/stanford shorter clocktower.jpg" alt="stanford shorter clocktower fails" style="width:400px;"></div>	
</div>
<div id="dcaisparagraph"><span style="font-style: italic;">
	<b>DefeatCollegeApps</b></span> is a premier college consulting service run by a team of students from some of the most elite universities in the world.Our consultants have not long ago gone through the application process that you are currently struggling with. We cater especially to international high school students aspiring to apply to univearsities in the United States.We tailor our services 100% to your needs. We offer our clients an extremely personalized consulting service through 1:1 guidance and web sessions.</div>
	<div id="startnowbuttondiv">
		<button id="startnowbutton" class="bluebutton">Start Now</button>
	</div>
	<div id="learnmorebuttondiv">
		<button id="learnmorebutton" class="bluebutton">Learn More</button>
	</div>
	<br></br>
<div id="whyusdiv">
	<h2>Why Us?</h2>
</div>