<h1>Welcome#index</h1>
<div ALIGN='left'><i>College consulting by students who've been through the process!</i></div>
<script type="text/javascript">
	$(function() {
    
    $('#slideshow').cycle({ 
        fx: 'fade',
        speed: 500,
        timeout: 2000
    });
    
});
</script>
<br> </br>
<div id="slideshow">
	<div><img src="/assets/bayview.jpg" alt="bayview fails" style="width:500px;"></div>
	<div><img src="/assets/sather gate people.jpg" alt="sather gate fails" style="width:400px;"></div>
	<div><img src="/assets/lady in front of manor.jpg" alt="lady manor fails" style="width:400px;"></div>
	<div><img src="/assets/stanford statues.jpg" alt="stanford statues fails" style="width:400px;"></div>
	<div><img src="/assets/stanford shorter clocktower.jpg" alt="stanford shorter clocktower fails" style="width:400px;"></div>
	

</div>