#collegeconstext {
	position:relative;
	right: 200px;
}

#slideshow {
	width:400px;
	height:400px;
	left:15px;
}

#dcaisparagraph {
	width:300px;
	height:400px;
	position:relative;
	bottom:400px;
	left:440px;
	font-family: "lucida sans", verdana, arial, sans-serif;
	font-size:15px;
}
#startnowbuttondiv{
	width:50%;
	float:left;
	float:top;
	position:relative;
	top:-450px;
	right:-15px;
}
#learnmorebuttondiv{
	width:50%;
	float:right;
	float:top;
	position:relative;
	top:-450px;
	right:-15px;
}

#suitpersonpic {
	width:100px;
	height:108px;
	float:left;
	background-color:green;
}

#personalservicetext {
	width:632px;
	height:100px;
	float:right;
	position:relative;
	right:250px;
}