// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slideshow {
	width:400px;
	height:400px;
	position:relative;
	left:15px;
}